{% load static %}
<!doctype html>
<html class="no-js" lang="en">

{% include 'layouts/header.html' %}

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="preloader">
    <div class="loading-center">
        <div class="loading-center-absolute">
            <div class="object object_one"></div>
            <div class="object object_two"></div>
            <div class="object object_three"></div>
        </div>
    </div>
</div>
{% block content %}

{% endblock %}
{% include "layouts/footer.html" %}
{% load static %}
<!-- jquery latest version -->
<script src="{% static "js/vendor/jquery-1.12.0.min.js" %}"></script>
<!-- Bootstrap framework js -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!--counter up js-->
<script src="{% static "js/waypoints.min.js" %}"></script>
<script src="{% static "js/jquery.counterup.min.js" %}"></script>
<!-- Video player js -->
<script src="{% static "js/video-player.js" %}"></script>
<!-- headlines js -->
<script src="{% static "js/animated-headlines.js" %}"></script>
<!-- Ajax mail js -->
<script src="{% static "js/mailchimp.js" %}"></script>
<!-- Ajax mail js -->
<script src="{% static "js/ajax-mail.js" %}"></script>
<!-- parallax js -->
<script src="{% static "js/parallax.js" %}"></script>
<!-- textilate js -->
<script src="{% static "js/textilate.js" %}"></script>
<script src="{% static "js/lettering.js" %}"></script>
<!--isotope js-->
<script src="{% static "js/isotope.pkgd.min.js" %}"></script>
<script src="{% static "js/packery-mode.pkgd.min.js" %}"></script>
<!-- Style Customizer Js  -->
<script src="{% static "js/style-customizer.js" %}"></script>
<!-- Owl carousel Js -->
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<!--Magnificant js-->
<script src="{% static "js/jquery.magnific-popup.js" %}"></script>
<!-- All js plugins included in this file. -->
<script src="{% static "js/plugins.js" %}"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="{% static "js/main.js" %}"></script>

</body>
</html>

