{% extends 'layouts/base.html' %}

{% block content %}
    <!--Conatct form area Start-->
    <div class="contact-form-info ptb-100 white_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="contact-form">
                        <div class="contact-form-title mb-25">
                            <h2>send your massage</h2>
                        </div>
                        <div class="contact-form-inner">
                            <form id="contact-form" action="mail.php" method="post">
                                <p class="form-messege"></p>
                                <div class="form-field-top mb-20">
                                    <div class="form-field-name">
                                        <input name="name" type="text" placeholder="Your name">
                                    </div>
                                    <div class="form-field-name">
                                        <input name="email" type="text" placeholder="Your email">
                                    </div>
                                </div>
                                <div class="form-field-bottom">
                                    <div class="textarea">
                                        <textarea name="message" placeholder="Your messege"></textarea>
                                    </div>
                                    <div class="submit mt-30">
                                        <button type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="contact-info">
                        <div class="contact-info-title mb-25"><h3>contact info</h3></div>
                        <div class="contact-adresses">
                            <div class="phone mb-15">
                                <p>
                                    <span><i class="mdi mdi-phone"></i></span>
                                    <span class="desc">+012 345 678 102 </span>
                                </p>
                            </div>
                            <div class="mail mb-15">
                                <p>
                                    <span><i class="mdi mdi-email"></i></span>
                                    <span class="desc">info@example.com</span>
                                </p>
                            </div>
                            <div class="addresses">
                                <p>
                                    <span><i class="mdi mdi-map-marker"></i></span>
                                    <span class="desc">House 09, Road 32, Mohammadpur,<br>Dhaka-1200, UK</span>
                                </p>
                            </div>
                        </div>
                        <div class="social-media mt-50">
                            <h3 class="social-medai-title">social media</h3>
                            <div class="social-media-list">
                                <a href="#"><i class="mdi mdi-facebook"></i></a>
                                <a href="#"><i class="mdi mdi-rss"></i></a>
                                <a href="#"><i class="mdi mdi-google-plus"></i></a>
                                <a href="#"><i class="mdi mdi-pinterest"></i></a>
                                <a href="#"><i class="mdi mdi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Conatct form area end-->
    <!--Google Map Area Start-->
    <div class="google-map-area">
        <!--  Map Section -->
        <div id="contacts" class="map-area">
            <div id="googleMap"
                 style="width:100%;height:418px;filter: grayscale(100%);-webkit-filter: grayscale(100%);"></div>
        </div>
        <!--hotel team start-->
        <div class="hotel-team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="newsletter">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="newsletter-title">
                                        <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="newsletter-form">
                                        <form id="mc-form" class="mc-form">
                                            <input id="mc-email" type="email" autocomplete="off"
                                                   placeholder="Enter Address..."/>
                                            <button id="mc-submit" type="submit">Subscribe</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--hotel team end-->
    </div>
    <!--End of Google Map Area-->
{% endblock %}